<md-card class="band-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>The Rolling Stones</md-card-title>
  </md-card-header>
  <md-card-content>
    <div>
      <img md-card-image src='../../assets/rolling_stones.png' alt="rolling stone">
    </div>
    <p>
      The Rolling Stones es una banda británica de rock originaria de Londres. La banda se fundó en abril de 19622​ por Brian Jones,
      Mick Jagger, Keith Richards, Bill Wyman, Ian Stewart y Charlie Watts.Brian Jones fue despedido en junio de 1969, falleciendo
      tres semanas después, siendo reemplazado por el guitarrista Mick Taylor, que dejaría el grupo en 1975 y sería a su
      vez reemplazado por Ron Wood. Con el retiro de Bill Wyman en 1993 se incluyó al bajista Darryl Jones que, aunque toca
      con la banda desde la grabación del álbum Voodoo Lounge en 1994, no es un miembro oficial.
    </p>
    <div *ngFor='let video of videoList'>
      <span>{{video.name}}</span>
      <div>
        <iframe width="560" height="315" [src]="getEmbedURL(video)" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
  </md-card-actions>
</md-card>